.container{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}


.item{
    width: 500px;
    color: rgb(192, 150, 36);
    font-size: 20px;
    margin: 0,auto;
    font-weight: bold;
}